<div class="card card-body">
  <div class="jumbotron text-center">
    <table class="table table-bordered table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tbody id="list">
        
        {{#each highscore}}

        <tr>
       
          <td>{{entry}}</td>
          <td>{{text}}</td>
          <td>{{score}}</td>
        
        </tr>

        {{else}}
        {{/each}}
      
      </tbody>
    </table>
  </div>
</div>

<script>



</script>