<div class="card card-body">
    <div class="jumbotron text-center">
    <form action="/displayscore" method="POST">
        <div class="form-group">
               <label for="name">Name</label> 
                <input type="text" name="name" id="theName" class="form-control" required>
        </div>
        <div class="form-group">
               <label for="High Score">High Score</label> 
                <input type="num" name="hiscore" class="form-control"  required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
</div> 