<div class="jumbotron text-center">
<h1 class="display-3">{{title}}</h1>
    <p class="lead">You did well enough to enter the leaderboard </p>
    <a href="/enterscore" class="btn btn-dark btn-lg">Enter High Score!</a>
   
    </div>